@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
      background: #F5F7FA;} */

.rhap_container {
  background-color: #921823;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  --amplify-components-authenticator-router-border-width: 0;
}